#main_visual {
    width: 100%;
    position: relative;

    /* min-width: 1600px; */
}
#main_visual .swiper-slide {
    /* background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(221, 221, 221, 0) 100%); */
}
#main_visual .inner {
    width: 100%;
    position: relative;
}
#main_visual .slogan {
    position: absolute;
    width: 1600px;
    align-content: center;

    top: 300px;
    left: 160px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    z-index: 10;
    pointer-events: none;
}

#main_visual .slogan h2 {
    color: #fff;
    font-size: 82px;
    font-weight: 800;
    letter-spacing: -1.64px;
}
#main_visual .slogan span {
    width: 60px;
    height: 4px;
    background: #fff;
}
#main_visual .slogan p {
    color: #fff;
    font-size: 28px;
    font-weight: 700;
}
#main_visual .slogan_btn {
    height: 26px;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 7px 15px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(6px);
    color: #fff;
    font-weight: 700;
    text-decoration: none;
}
#main_visual .slogan .slogan_btn a {
    color: #fff;
    font-size: 16px;
}

/* 비즈니스 비주얼 */

#projects .projects_item .swiper-wrapper {
    padding-top: 32px;
}
#projects .projects_item .swiper-slide {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
#projects .projects_item .swiper-slide {
    background: #fff;
}
#projects .projects_item .swiper-slide img {
    padding-bottom: 20px;
}
#projects .projects_item .swiper-slide p {
    width: 363px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;

    height: 52px;
    flex-shrink: 0;
    color: #000;
    font-weight: 700;
}
#projects .projects_item .swiper-slide p span {
    color: #000;
    font-weight: 400;
}
