/* 메인 페이지 스타일 */

/* --------------메인비주얼-------------- */
#main_visual {
    width: 100%;
    position: relative;
    /* min-width: 1600px; */
}
/* #main_visual .swiper-wrapper {
} */
/* #main_visual .slogan {
    position: absolute;
    top: 50px;
    left: 50px;
    transform: translate(-50%, -50%);
    display: flex;
    width: 100%;
    background-color: grey;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}
#main_visual .slogan h2 {
    color: #fff;
    font-size: 82px;
    font-weight: 800;
    letter-spacing: -1.64px;
}
#main_visual .slogan span {
    width: 60px;
    height: 4px;
    background: #fff;
}
#main_visual .slogan p {
    color: #fff;
    font-size: 28px;
    font-weight: 700;
}
#main_visual .slogan_btn {
    height: 26px;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 7px 15px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(6px);
    color: #fff;
    font-weight: 700;
    text-decoration: none;
}
#main_visual .slogan .slogan_btn a {
    color: #fff;
    font-size: 16px;
} */

/* --------------PROJECTS-------------- */

#projects {
    /* background: gray; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#projects .inner {
    width: 1600px;
    padding: 96px 0;
}
/* 섹션 타이틀 */
.section_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0;
    border-bottom: 4px solid #222;
}
.section_title .h3_title {
    color: #222;
    font-size: 48px;
    font-weight: 700;
}
.section_title a {
    color: #fff;
    font-weight: 700;
    display: flex;
    padding: 7px 10px 7px 20px;
    gap: 10px;
    border-radius: 20px;
    background: rgba(30, 81, 37, 0.7);
    align-items: center;
}
#projects .projects_item {
    padding-top: 32px;
}
#projects .projects_item ul {
    display: flex;
    gap: 16px;
}
#projects .projects_item li {
}
#projects .projects_item img {
    padding-bottom: 20px;
}
#projects .projects_item li p {
    width: 363px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 52px;
    flex-shrink: 0;
    color: #000;
    font-weight: 700;
}
#projects .projects_item li p span {
    color: #000;
    font-weight: 400;
}

/* --------------business-------------- */
/* 백그라운드 이미지 */
#business {
    position: relative;
    width: 100%;
    min-height: 1907px;
    background: url('../images/main/business_img/bgimg.png') center / cover no-repeat;
}

#business::before {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(0deg, rgba(23, 62, 28, 0.6), rgba(23, 62, 28, 0.6));
}

#business::after {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
}
/* 타이틀 */
#business .business_inner {
    position: relative;
    z-index: 1;
    z-index: 1;
    max-width: 1600px;
    margin: 0 auto;
    padding-top: 96px;
}
#business .business_inner .h3_title {
    color: #fff;
}
#business .business_inner .section_title {
    border-bottom-color: #fff;
}
#business .business_inner .section_title a {
    background: #fff;
    color: #369443;
}
#business .business_inner .business_info {
    padding: 32px 0;
    align-items: center;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
}
#business .business_inner .business_info p {
    color: #fff;
    font-size: 32px;
    font-weight: 700;
}
#business .business_inner .business_info p span {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
}
#business .business_inner .business_info img {
    width: 389px;
    height: 259px;
}
#business .business_inner .business_image {
    width: 1607px;
    height: 1142px;
    position: relative;
}

/* 호버시 이미지 */
#business .business_image .business_images_info{
    background: rgba(0, 0, 0, 0.50);
}
#business .business_image .business_images_info .title{
    color: #FFF;
text-align: center;
font-size: 28px;
font-weight: 700;
}
#business .business_image .business_images_info span{
    width: 50px;
height: 2px;
background: rgba(233, 233, 233, 0.50);
}
#business .business_image .business_images_info .content{
    color: #FFF;
font-size: 22px;
}
#business .business_image img{
    transition: 0.4s;   
}
#business .business_image a:hover img{
    

}

/* 위치정렬 */
#business .business_inner .business_image .top_left_1 {
    display: flex;
    gap: 43px;
}
#business .business_inner .business_image .top_left_2 {
    display: flex;
    gap: 43px;
}
#business .business_inner .business_image .top_left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 43px;
}
#business .business_inner .business_image .ul1 {
    display: flex;
    gap: 43px;
}

#business .business_image .bottom_img {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 42px;
}

/* 호버필요 */
